
/build
/__pycache__
/lib
*.svg
/swiss
*.csv
*.xlsx
/vips-dev-8.15
/vips-dev-w64-all-8.15.2
/.idea
*.pdf
*.XLS
*.dll
*.exe
*.spec
*.7z
*.dbf
test1.py
test2.py
test3.py
test4.py
test5.py
test6.py
test7.py
SwissQRtest.py
SwissQRTest01.py
Swiss_QR_Generator_test1.py
sqr_bill04.py
EPCQRCodetest02.py
EPCQRCodetest.py
EpcQRCode1.py
/temp0
cropped_image.png
cropped_image1.png
images_0.png
images_a.png
p1.png
PaymentPart_blank.png
qrcode_with_image.png
some_file46v6.png
/temp1
test.png
test150.png
testb.png
x.png
